* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}


.banner-container {
    background-image: url("./images/banner/banner1.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: end;



}

.title-container {
    margin-right: 216px;


}


.title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
    width: 545px;



}

.description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    /* padding: 24px */
    width: 500px;
    margin-left: 45px;
}

.btn {
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 25px;
    border: 0;
    font-size: 20px;
    font-weight: 600;

}

.bg-button {
    color: white;
    margin-top: 32px;
}

.failure-banner-container {
    display: flex;
    align-items: center;
    gap: 200px;
    /* background-color: red; */
    padding: 170px;
    height: 100vh;

}

.failure-banner {
    width: 451px;
    height: 898px;
}

.failure-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    margin: 25px 0;
}

.failure-content ul {
    list-style: none;
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8;
}

.fa-light fa-check {
    width: 24px;
    height: 24px;

}

.plan-content {
    height: 100vh;

}

.planer-title {
    text-align: center;
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plan-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 80px;

}

.plan-icon>h1 {
    color: var(--dark-01, #151414);
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plan-icon>p {
    color: var(--dark-03, #737272);
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.plan-footer-banner {
    background-image: url("../images/gradient2.png"), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 5px;

}

.plan-footer-text {
    padding: 66px;

}

.bg-white {
    border-radius: 5px;
    border: 0;
    background: #FFF;
    color: #F15B22;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 21px 36px;
    margin-top: 24px;


}


.plan-footer-text>h1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-01, #151414);
    color: white;
    padding: 130px;
}

.footer-contain>h1 {
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.footer-contain>p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 485px;
    margin-bottom: 24px;

}

.social-link {
    display: flex;
    gap: 25px;
}

.footer-subscribe>h1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 130px;

}

.footer-subscribe>input {
    display: block;
    border-radius: 8px;
    border: 1px solid #FFF;
    /* height: 64px; */
    width: 325px;
    background-color: transparent;
    color: var(--dark-07, #F3F3F3);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 22px;
    margin-top: 30px;
}

